{
  "presets": ["env"],
  "plugins": [
    [
      "transform-react-jsx",
      {
        "pragma": "Miru.h"
      }
    ],
    [
      "transform-runtime",
      {
          "helpers": false,
          "polyfill": false,
          "regenerator": true
      }
    ], "transform-decorators-legacy", "transform-class-properties"
  ]
}
